
<div class="card">
  <p-menubar [model]="items">
      <ng-template pTemplate="start">
          <img src="https://primefaces.org/cdn/primeng/images/primeng.svg" height="40" class="mr-2" />
      </ng-template>
      <ng-template pTemplate="end">
          <input type="text" pInputText placeholder="Search" class="w-full" />
      </ng-template>
  </p-menubar>
</div>

<div class="grid grid-nogutter surface-section text-800">
  <div class="col-12 md:col-6 p-6 text-center md:text-left flex align-items-center">
    <section>
      <span class="block text-6xl font-bold mb-1">Equip your workstation</span>
      <div class="text-6xl text-primary font-bold mb-3">
        with your favorite gadgets
      </div>
      <p class="mt-0 mb-4 text-700 line-height-3">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua.
      </p>
      <p-button label="Learn More"
        class="mr-3 p-button-raised"></p-button>
    </section>
  </div>
  <div class="col-12 md:col-6 overflow-hidden">
    <img
      src="https://images.unsplash.com/photo-1595087873528-1fe582a3b302?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTF8fGdhZGdldHN8ZW58MHx8MHx8fDA%3D&auto=format&fit=crop&w=400&q=60"
      alt="Image"
      class="md:ml-auto block md:h-full"
      style="
        clip-path: polygon(8% 0, 100% 0%, 100% 100%, 0 100%);
        width: 500px;
        height: 500px;
      "
    />
  </div>
</div>

<div class="grid mt-6 mb-6">
  <div class="col">
    <p-card header="Workspace Wallpaper" subheader="white and colored" [style]="{ width: 'auto' }">
      <ng-template pTemplate="header">
          <img alt="Card" src="https://primefaces.org/cdn/primeng/images/usercard.png" />
      </ng-template>
      <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore sed consequuntur error repudiandae numquam deserunt quisquam repellat libero asperiores earum nam nobis, culpa ratione quam perferendis esse, cupiditate neque
          quas!
      </p>
      <ng-template pTemplate="footer">
          <p-button label="Add to cart" icon="pi pi-cart-plus"></p-button>
          <p-button label="Favorite" icon="pi pi-heart" styleClass="p-button-secondary" [style]="{ 'margin-left': '.5em' }"></p-button>
      </ng-template>
    </p-card>
  </div>
  <div class="col">
    <p-card header="Workspace Wallpaper" subheader="white and colored" [style]="{ width: 'auto' }">
      <ng-template pTemplate="header">
          <img alt="Card" src="https://primefaces.org/cdn/primeng/images/usercard.png" />
      </ng-template>
      <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore sed consequuntur error repudiandae numquam deserunt quisquam repellat libero asperiores earum nam nobis, culpa ratione quam perferendis esse, cupiditate neque
          quas!
      </p>
      <ng-template pTemplate="footer">
          <p-button label="Add to cart" icon="pi pi-cart-plus"></p-button>
          <p-button label="Favorite" icon="pi pi-heart" styleClass="p-button-secondary" [style]="{ 'margin-left': '.5em' }"></p-button>
      </ng-template>
    </p-card>
  </div>
  <div class="col">
    <p-card header="Workspace Wallpaper" subheader="white and colored" [style]="{ width: 'auto' }">
      <ng-template pTemplate="header">
          <img alt="Card" src="https://primefaces.org/cdn/primeng/images/usercard.png" />
      </ng-template>
      <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore sed consequuntur error repudiandae numquam deserunt quisquam repellat libero asperiores earum nam nobis, culpa ratione quam perferendis esse, cupiditate neque
          quas!
      </p>
      <ng-template pTemplate="footer">
          <p-button label="Add to cart" icon="pi pi-cart-plus"></p-button>
          <p-button label="Favorite" icon="pi pi-heart" styleClass="p-button-secondary" [style]="{ 'margin-left': '.5em' }"></p-button>
      </ng-template>
    </p-card>
  </div>
  <div class="col">
    <p-card header="Workspace Wallpaper" subheader="white and colored" [style]="{ width: 'auto' }">
      <ng-template pTemplate="header">
          <img alt="Card" src="https://primefaces.org/cdn/primeng/images/usercard.png" />
      </ng-template>
      <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore sed consequuntur error repudiandae numquam deserunt quisquam repellat libero asperiores earum nam nobis, culpa ratione quam perferendis esse, cupiditate neque
          quas!
      </p>
      <ng-template pTemplate="footer">
          <p-button label="Add to cart" icon="pi pi-cart-plus"></p-button>
          <p-button label="Favorite" icon="pi pi-heart" styleClass="p-button-secondary" [style]="{ 'margin-left': '.5em' }"></p-button>
      </ng-template>
    </p-card>
  </div>
</div>



