<section class="hero is-primary is-medium">
  <!-- Hero head: will stick at the top -->
  <div class="hero-head">
    <nav class="navbar">
      <div class="container">
        <div class="navbar-brand">
          <a id="header-logo" class="navbar-item" href="!#">
          </a>
          <span class="navbar-burger" data-target="navbarMenuHeroA">
            <span></span>
            <span></span>
            <span></span>
          </span>
        </div>
        <div id="navbarMenuHeroA" class="navbar-menu">
          <div class="navbar-end">
            <a class="navbar-item"> Home </a>
            <a class="navbar-item"> About </a>
            <a class="navbar-item"> Visit Us </a>
            
          </div>
        </div>
      </div>
    </nav>
  </div>

  <!-- Hero content: will be in the middle -->
  <div class="hero-body">
    <div class="container has-text-centered">
      <p class="title is-1 pb-6">Always delivering amazing experiences</p>
      <div class="columns is-align-items-center">
        <div class="column is-half">
          <img
            class=""
            src="../assets/buildings.jpg"
            alt=""
          />
        </div>
        <div class="column is-half">
          <div class="box">
            <article class="media">
              <div class="media-left">
                <figure class="image is-64x64">
                  <img
                    src="../assets/plate.jpg"
                    alt="Image"
                  />
                </figure>
              </div>
              <div class="media-content">
                <div class="content">
                  <p>
                    <strong
                      >FOOD TASTES BETTER WHEN YOU EAT IT WITH YOUR
                      FAMILY</strong
                    >
                    <br />
                    Here at Bulma Foods, we sell all variety of fast foods
                    ranging from snacks, traditional chinese meals, African
                    meals to Intercontinentals.
                  </p>
                    <button class="button is-primary">ORDER TODAY</button>
             
                </div>
              </div>
            </article>
          </div>
        </div>
      </div>
    </div>
    <p class="title is-1 pt-6 has-text-centered">Our Special Dish</p>
    <div class="columns">
      <div class="column is-one-third">
        <div class="card-content">
          <div class="content">
            <img
              style="width: 250px; height: 220px"
              src="../assets/noodles.png"
              alt="food sample"
            />
            <p class="subtitle pt-1">SPAGHETTI BOLOGNESE</p>
            <p>
              Lorem ipsum leo risus, porta ac consectetur ac, vestibulum at
              eros. Donec id elit non mi porta gravida at eget metus. Cum sociis
              natoque penatibus et magnis dis parturient montes, nascetur
              ridiculus mus. Cras mattis consectetur purus sit amet fermentum.
            </p>
            <button class="button is-light">ORDER</button>
          </div>
        </div>
      </div>
      <div class="column is-one-third">
        <div class="card-content">
          <div class="content">
            <img
              style="width: 250px; height: 220px"
              src="../assets/noodles.png"
              alt="second food sample"
            />
            <p class="subtitle pt-1">CHINESE FRIED RICE</p>
            <p>
              Lorem ipsum leo risus, porta ac consectetur ac, vestibulum at
              eros. Donec id elit non mi porta gravida at eget metus. Cum sociis
              natoque penatibus et magnis dis parturient montes, nascetur
              ridiculus mus. Cras mattis consectetur purus sit amet fermentum.
            </p>
            <button class="button is-light">ORDER</button>
          </div>
        </div>
      </div>
      <div class="column is-one-third">
        <div class="card-content">
          <div class="content">
            <img
              style="width: 250px; height: 220px"
              src="../assets/noodles.png"
              alt="food sample three"
            />
            <p class="subtitle pt-1">EGUSI AND POUNDED YAM</p>
            <p>
              Lorem ipsum leo risus, porta ac consectetur ac, vestibulum at
              eros. Donec id elit non mi porta gravida at eget metus. Cum sociis
              natoque penatibus et magnis dis parturient montes, nascetur
              ridiculus mus. Cras mattis consectetur purus sit amet fermentum.
            </p>
            <button class="button is-light">ORDER</button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Hero footer: will stick at the bottom -->
  <footer class="footer">
    <div class="content has-text-centered">
      <p class="has-text-black">
        <strong>Integrating</strong> Bulma with <a href="!#">Javascript Library</a>. The course is available
        <a href="!#">On LinkedIn Learning</a>. 
      </p>
    </div>
  </footer>
</section>